{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Bookings</title>
    </head>
    <body>
        <form method="POST" , action="mybooking">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <h1>Please verify your username to check all your Bookings</h1><br>
        <label>User Name</label>
        <input type="text" name="username"  placeholder="Username"/>
        <button>Submit</button><br><br>
        {% for booking in bookings %}
        <h1>Your Booking</h1><br>
        <p1>Full name : {{booking.Full_name}}</p1><br>
        <p1>Email: {{booking.Email}}</p1><br>
        <p1>Mobile Number: {{booking.Mobile_number}}</p1><br>
        <p1>Origin : {{booking.Origin}}</p1><br>
        <p1>Destination : {{booking.Destination}}</p1><br>
        <p1>Preferred Seat : {{booking.Preferred_Seating}}</p1><br>
        <p1>Departure date : {{booking.Departure_date}}</p1><br>
        {% endfor %}
        {% endif %}
    </form>
</body>
</html>
