{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register User</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}"></head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                margin: 0;
                background-image: url('{% static 'img/regbg.png' %}');      
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
         h4{
            color:red;
        }
        a{
            text-decoration: None;
        }
        </style>
    <body>
        <div class="content">
        <form method="POST" action="register">
            {% csrf_token %}
        <h1>Sign Up</h1>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}
        <label>Username</label><br>
        <input type="text" name="username"  placeholder="Username"/><br><br>
        <label>Email</label><br>
        <input type="email" name="email" placeholder="Email-id"/><br><br>
        <label>Password</label><br>
        <input type="password" name="password" placeholder="Create password"/><br><br>
        <label>Confirm Password</label><br>
        <input type="password" name="password2" placeholder="Re-enter password"/><br><br>
        <button>Submit</button>
        <a href="login"><p>Already have an account? Login</p></a>
        </form>
    </div>
    <footer>
        <p>
            <center>&copy; 2023 Flight Reservation. All rights reserved.</center></p>
    </footer>
    </body>
</html>